{% extends "base.html" %}
{% block titulo %}SQL Injection Index Parametrizada{% endblock %}
{% block contenido %}
<h1>SQL Injection Index Parametrizada</h1>
    <div class="row">
    <div class="col-sm-4">
            <form action="{{ url_for('contramedidas.sqlinjectionindexparametrizada') }}" method="post">
                <div class="mb-3 mt-3">
                    <label class="form-label">Id:</label>
                    <input name="id" class="form-control" value="{{ id }}" type="text"/>
                </div>

                <input type="submit" value="Buscar" class="btn btn-primary"/>
            </form>
        </div>
    </div>
    <table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Descripción</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    {% for producto in productos %}
        <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

